In [11]:
# 하수수위비율

import pandas as pd

df1 = pd.read_excel('C:/Users/kjr07/Downloads/하수수위.xlsx')
df2 = pd.read_csv("C:/Users/kjr07/Downloads/수위현황2023.csv", encoding='CP949')

df1.head()

     ?고유번호  박스높이(m)
0  01-0001     2.45
1  01-0002     2.70
2  01-0003     2.10
3  01-0004     1.80
4  02-0001     1.80

In [12]:
df = pd.merge(df1,df2, on='?고유번호')

In [14]:
df

            ?고유번호  박스높이(m)  구분코드 구분명                   측정일자  측정수위  통신상태
0         01-0001     2.45     1  종로  2023-07-01 00:00:39.0  0.09  통신양호
1         01-0001     2.45     1  종로  2023-07-01 00:01:39.0  0.09  통신양호
2         01-0001     2.45     1  종로  2023-07-01 00:02:39.0  0.09  통신양호
3         01-0001     2.45     1  종로  2023-07-01 00:03:39.0  0.09  통신양호
4         01-0001     2.45     1  종로  2023-07-01 00:04:39.0  0.09  통신양호
...           ...      ...   ...  ..                    ...   ...   ...
11857839  25-0019     2.30    25  강동  2023-07-31 23:55:00.0  0.10  통신양호
11857840  25-0019     2.30    25  강동  2023-07-31 23:56:00.0  0.10  통신양호
11857841  25-0019     2.30    25  강동  2023-07-31 23:57:00.0  0.10  통신양호
11857842  25-0019     2.30    25  강동  2023-07-31 23:58:00.0  0.10  통신양호
11857843  25-0019     2.30    25  강동  2023-07-31 23:59:00.0  0.10  통신양호

[11857844 rows x 7 columns]

In [17]:
df['하수수위비율'] = (df['측정수위']/df['박스높이(m)']*100)

In [19]:
df

,?고유번호,박스높이(m),구분코드,구분명,측정일자,측정수위,통신상태,하수수위비율
0,01-0001,2.45,1,종로,2023-07-01 00:00:39.0,0.09,통신양호,3.673469
1,01-0001,2.45,1,종로,2023-07-01 00:01:39.0,0.09,통신양호,3.673469
2,01-0001,2.45,1,종로,2023-07-01 00:02:39.0,0.09,통신양호,3.673469
3,01-0001,2.45,1,종로,2023-07-01 00:03:39.0,0.09,통신양호,3.673469
4,01-0001,2.45,1,종로,2023-07-01 00:04:39.0,0.09,통신양호,3.673469
...,...,...,...,...,...,...,...,...
11857839,25-0019,2.30,25,강동,2023-07-31 23:55:00.0,0.10,통신양호,4.347826
11857840,25-0019,2.30,25,강동,2023-07-31 23:56:00.0,0.10,통신양호,4.347826
11857841,25-0019,2.30,25,강동,2023-07-31 23:57:00.0,0.10,통신양호,4.347826
11857842,25-0019,2.30,25,강동,2023-07-31 23:58:00.0,0.10,통신양호,4.347826
11857843,25-0019,2.30,25,강동,2023-07-31 23:59:00.0,0.10,통신양호,4.347826

In [20]:
df[df['하수수위비율'] >= 80]

,?고유번호,박스높이(m),구분코드,구분명,측정일자,측정수위,통신상태,하수수위비율
5527,01-0001,2.45,1,종로,2023-07-04 20:07:56.0,1.99,통신양호,81.224490
5528,01-0001,2.45,1,종로,2023-07-04 20:08:56.0,2.03,통신양호,82.857143
5529,01-0001,2.45,1,종로,2023-07-04 20:09:56.0,2.02,통신양호,82.448980
12175,01-0001,2.45,1,종로,2023-07-09 10:56:56.0,2.00,통신양호,81.632653
12176,01-0001,2.45,1,종로,2023-07-09 10:57:56.0,2.01,통신양호,82.040816
...,...,...,...,...,...,...,...,...
11709341,25-0016,2.00,25,강동,2023-07-13 15:59:00.0,1.76,통신양호,88.000000
11709342,25-0016,2.00,25,강동,2023-07-13 16:00:00.0,1.70,통신양호,85.000000
11709343,25-0016,2.00,25,강동,2023-07-13 16:01:00.0,1.69,통신양호,84.500000
11709344,25-0016,2.00,25,강동,2023-07-13 16:02:00.0,1.63,통신양호,81.500000
11709345,25-0016,2.00,25,강동,2023-07-13 16:03:00.0,1.63,통신양호,81.500000